* {
    
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--alternative_color);
}

:root{
    
    --primary_color:#011A27;
    --second_color:#063852;
    --third_color: #F0810F;
    --fourth_color:#E6DF44;
    --alternative_color:#ffffff;
}

.body__background {
    
    padding: 20px;
    background-color: var(--second_color);
    position: relative;
}

.body__container { 
    
    background-color: var(--primary_color);
    padding: 30px;
}

.main__title {
    
    margin: 20px 0px 10px 0px;
    padding: 5px 5px 20px 0px;
    text-align: center;
    border-bottom: 2px groove var(--alternative_color);
}

.main__nav {
    
    text-align: center;
    border-right: 2px groove var(--third_color);
    border-bottom: 2px groove var(--third_color);
}

.nav__list {
    
    padding: 10px;
}

.nav__list__item {
    
    display: inline;
    margin: 5px;
    padding: 5px;
    background-color: var(--second_color);
}

.body__section {

       
    background-color: var(--second_color);
    margin-top: 10px;
    padding: 10px; 
    border-right: 2px groove var(--fourth_color);
    border-bottom: 2px groove var(--fourth_color);
}

.section__title {
    
    margin-bottom: 10px;
}

.me__and__my__skills {

    display: flex;
}

.personal__photo__container {
    
    margin-right: 20px;
    text-align:center;
}

.personal__photo {
    max-width: 300px;
    min-width: 100px;
    margin-top: 10px;
}

#section__skills {

    flex-grow: calc(1);
}

.list__header { 

    margin: 10px 0px 10px 0px;
}

.section__list {
    
    padding-left: 20px;
}

.section__subtitle {

    margin-bottom: 10px;
}

.project__preview {

    margin: 20px;
    width: 150px;
    transition: transform 0.5s ease;
}

.project__preview:hover {

    transform: scale(1.2);
}

form {

    display:flex;
    align-items: flex-start;
    border-bottom: 2px groove var(--third_color);
    border-right: 2px groove var(--third_color);    
    margin-top: 10px;
    padding: 10px;
}

footer { 

    margin: 0px 40px 0px 40px;
}

.footer__title {

    margin: 5px 0px 5px 0px;
    font-size:16px;
}

.social__image {

    margin-right: 2px;
    width: 30px;
    animation: rotate ease 1s infinite;
}

@keyframes rotate {
    
    from {
        transform: rotate(360deg);
    }
}

@media (max-width: 728px) {
    
    .me__and__my__skills {

        flex-direction: column;
        align-items: center;
    }
    
    #section__skills {

        width: calc(100% - 20px);
    }

    form {

        flex-direction: column;
        align-items: center;
    }
}